CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET

PUSHER_APP_ID=2198904
PUSHER_KEY=59c8290c33bea3878e1f
PUSHER_SECRET=e8a91f8e227fcd0c44d2
PUSHER_CLUSTER=mt1

NEXT_PUBLIC_PUSHER_KEY=59c8290c33bea3878e1f
NEXT_PUBLIC_PUSHER_CLUSTER=mt1